@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;600;800&display=swap');

:root {
    --background: #121212;
    --background-complement: #282828;
    --background-complement-secondary: #424242;
    --white: #ffffff;
    --gray: #999999;
}

body {
    background-color: var(--background);
    height: 400px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 300px;
}

header {
    align-items: center;
    background-image: url("assets/connection_unknown.webp");
    background-position: 50% 50%;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    height: 15%;
    margin: auto;
    padding: 0;
    width: 100%;
}

header.success {
    background-image: url("assets/connection_success.webp");
    transition: 0.5s;
}

header.failed {
    background-image: url("assets/connection_failed.webp");
    transition: 0.5s;
}

#rich-presence-container {
    background-color: var(--background-complement);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    height: 132px;
    margin: 8px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100% -12px;
}

.rich-presence-first-row {
    display: flex;
    flex-direction: row;
    
}

.rich-presence-image-container {
    height: 64px;
    margin: 16px;
    margin-bottom: 8px;
    margin-top: 32px;
    width: 64px;
}

.rich-presence-image-container img {
    border-radius: 0.5em;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
}

.rich-presence-text-container {
    display: flex;
    flex-direction: column;
    height: 64px;
    justify-content: center;
    margin: 16px;
    margin-bottom: 8px;
    margin-left: 0;
    margin-top: 32px;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    width: 170px;
}

.rich-presence-status {
    left: 16px;
    top: 10px;
    position: absolute;
    width: 100%;
}

.rich-presence-status p {
    color: var(--gray);
    font-size: 12px;
    font-weight: 400;
    padding: 0;
    position: inherit;
}

.rich-presence-time-container {
    display: flex;
    flex-direction: row;
    height: 20px;
    align-items: center;
    margin-left: 16px;
    margin-bottom: 16px;
}

.rich-presence-time-graphics {
    background-color: var(--gray);
    border-radius: 1em;
    margin: 0 8px;
    margin-top: 2px;
    height: 3px;
    width: 172px;
}

.rich-presence-time-graphics-elapsed {
    background-color: var(--white);
    border-radius: 1em;
    height: 100%;
}

.rich-presence-time-start, .rich-presence-time-end {
    max-width: 32px;
    width: 32px;
}

h1 {
    color: var(--white);
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

p {
    color: var(--white);
    font-family: "Raleway", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.rich-presence-text-container p {
    color: var(--white);
    font-size: 14px;
    margin-bottom: 2px;
    white-space: nowrap;
}